@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import "nullstyle.scss";


html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
  margin-top: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
}

.flex{
  display: flex;
}

.section{
  margin-bottom: 92px;
}

h1,h2,h3,h4,p,ul{
  margin: 0;
}

.container{
  width: 1110px;
  margin: 0 auto;
  max-width: 100%;
}
.faq__header{
  margin-bottom: 42px;
  line-height: 58px;
}

/* Head */
.text_in{
  font-family: "Roboto";
  font-size: 14px;
  line-height: 43px;
  font-weight: 400;
  color: white;
}
.head{
  max-width: 1150px;
  box-shadow: 0px 5px 40px rgb(0 0 0 / 10%);
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  background-color: #3F2AFF;
}

 .conteiner {
    align-items: center;
    justify-content: space-between; 
  }
  .logo{
    height: 17px;
    margin-left: 49px;
}
.menu{
    padding: 12px 0px;
    align-items: center;
    display: flex;
  }
  .nav-seath{
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .header__nav-list {
    display: flex;
    align-items: center;
    margin-top: -4px;
  }
  .nav_list{
    display: flex;
    margin-right: 100px;
    margin-top: 2px;
}

  .nav_item:not(:last-child) {
    margin-right: 47px;
}


/* main */
.wrapper{
  max-width: 1149px;
  height: 495px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.main{
  display: flex;
  align-items: center;
}
.main-text_title{
  width: 459px;
  height: 125px;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Roboto';
  line-height: 1.0;
  color: #ffff;
  margin-left: 116px;
  margin-top: -11px;
}
.main-text_description{
  font-weight: 400;  
  width: 67%;
  font-family: 'Roboto';
  margin-left: 116px;
  line-height: 1.6;
  font-size: 14px;
  color: #ffff;
  margin-bottom: 64px;
}
.main-text_link{
  background-color: #3F2AFF;
  padding: 22px 62px;
  border-radius: 22px;
  font-weight: 500;
  margin-left: 117px;
  color: #ffff;
}
.main-img{
  width: 39%;
    margin-right: 116px;
    margin-top: 10px;
    margin-left: -114px;
}
.main__img{
  width: 17%;
  margin-top: -267px;
  margin-left: -81px;
}

/* how_section */

.about__column{
  max-width: 1150px;
  height: 402px;
  margin: 0 auto;
  flex: 1;
  position: relative;
}
.card__body{
     display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 63px 20px 65px 298px;
    position: relative;
    background-color: red;
}
.card__body::before{
  content: "";
  width: 130px;
  height: 117px;
  left: 127px;
  top: 38%;
  transform: translateY(-50%);
  position: absolute;
  background-size: 131px;
  background-image: url(/img/белое/Vectary\ texture.png);
}
.card__content{
  max-width: 460px;
    align-self: flex-start;
}
.medium-title{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 90%;
  width: 366px;
  margin-top: 6px;
  margin-left: -15px;
  margin-bottom: 17px;
}
.card__text{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  width: 483px;
  margin-top: -4px;
  margin-left: -15px;
  margin-bottom: 50px;
}
.icons-link{
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 335px 5px 2px;
  position: relative;
  margin: -35px 0 0px -82px;
}
.icons-link::before{
  content: "";
  width: 67px;
  height: 68px;
  left: -87px;
  top: 54%;
  transform: translateY(-50%);
  position: absolute;
  background-size: 68px;
  background-image: url(/img/глаз/eye-circle.jpg);
}
.icons_link{
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 70px 28px 27px 15px;
  position: relative;
  margin: -123px -1px 9px 209px;
}
.icons_link::before{
  content: "";
    width: 67px;
    height: 68px;
    left: -74px;
    top: 63%;
    transform: translateY(-50%);
    position: absolute;
    background-size: 68px;
    background-image: url(/img/рука/fingers.png);
}
.icons__link{
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 71px 64px 30px 33px;
  position: relative;
  margin: -155px -319px 11px 494px;
}
.icons__link::before{
      content: "";
    width: 63px;
    height: 64px;
    left: -53px;
    top: 63%;
    transform: translateY(-50%);
    position: absolute;
    background-size: 63px;
    background-image: url(/img/Орало/eye-circle.png);
}
/* teacher */

.teacher{
  max-width: 1150px;
  height: 495px;
  margin: 0 auto;
  background: #3F2AFF;
}
.teacher-text{
  width: 459px;
  height: 125px;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Roboto';
  line-height: 1.0;
  color: #ffff;
  margin-left: 116px;
  margin-top: -11px;
}
